PORT=5006
MONGO_URI=mongodb://127.0.0.1:27017/chatbot_db
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-4o-mini
PRODUCT_SERVICE_URL=http://localhost:5002
ORDER_SERVICE_URL=http://localhost:5004
SUPPORT_SERVICE_URL=http://localhost:5007
