PORT=5005
MONGO_URI=mongodb://127.0.0.1:27017/payment_db

PAYOS_BASE_URL=https://api-merchant.payos.vn
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_RETURN_URL=http://localhost:3000/checkout/success
PAYOS_CANCEL_URL=http://localhost:3000/checkout/cancel

VIETQR_BASE_URL=https://api.vietqr.io
VIETQR_CLIENT_ID=
VIETQR_API_KEY=
VIETQR_BANK_ID=970418
VIETQR_ACCOUNT_NO=6811679975
VIETQR_ACCOUNT_NAME=VO HAI TRIEU
VIETQR_TEMPLATE=compact2
