PORT=5005
MONGO_URI=mongodb://127.0.0.1:27017/payment_db

PAYOS_BASE_URL=https://api-merchant.payos.vn
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_RETURN_URL=http://localhost:3000/checkout/success
PAYOS_CANCEL_URL=http://localhost:3000/checkout/cancel

SEPAY_API_BASE_URL=https://userapi.sepay.vn/v2
SEPAY_API_TOKEN=
SEPAY_BANK_ACCOUNT_ID=
SEPAY_BANK_SHORT_NAME=BIDV
SEPAY_BANK_BIN=970418
SEPAY_ACCOUNT_NUMBER=
SEPAY_ACCOUNT_NAME=
SEPAY_POLL_LOOKBACK_MINUTES=1440
VIETQR_IMAGE_BASE_URL=https://img.vietqr.io/image
VIETQR_TEMPLATE=compact2
